@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Автопарковка "Стоп Сar"<br />
    Москва,улица пушкина д.15 тел: 98052-6399<br />
    <abbr title="Телефон">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Маркетинг:</strong> <a href="mailto:Marketing@example.com">Письмо</a>
</address>